<section class="register-content">
  <article class="form-content">
    <form action="" class="form-register">
      <label for="name" class="label-form">
        Nombre:
        <input required type="text" name="name" id="name" [(ngModel)]="producto.nombre" class="input-form" placeholder="Ej: Computador">
      </label><br>
      <label for="price" class="label-form">
        Precio:
        <input required type="number" name="price" id="price" [(ngModel)]="producto.precio" class="input-form">
      </label><br>
      <label for="stock" class="label-form">
        Stock:
        <input required type="number" name="stock" id="stock" [(ngModel)]="producto.stock" class="input-form">
      </label><br>
      <span class="button-label-content">
        <button type="submit" (click)="validator()" class="button-styles">Registrar</button>
      </span>
    </form>
  </article>
  <app-listado [productos]="productos" [formulario]="formActualizar"></app-listado>
  <app-actualizar #formActualizar></app-actualizar>
</section>
